header{
    font-size: 4rem;
    font-weight: bold;    
    color:rgb(5, 1, 221);
    margin:15px;
}

h1{
    padding: 50px 100px 0 225px;
}

#alura-A{
    float: left;
    width: 175px;
}

body{
    background-color: black;
}

main{
    margin:25px;
}

.zona-texto{
    width: 55%;
    height: 450px;  /* 500px */
    display: inline-block;
    margin:30px;
    border-radius: 10px;
    border:2px solid red;
}

.zona-mensaje{
    position:absolute;
    width: 370px;
    height: 620px;
    background: linear-gradient(rgba(5, 7, 12, 0.97),rgba(5, 7, 12,0.97)),red;
    border: 2px solid red;
    border-radius:10px;
    /* margin:5px auto; */
    top: 50px;
    left:60%;
    /* right: 0; */
    margin:20px 10% 0 0;
}

textarea{
    display: inline-block;
    border-radius: 5px;
    font-size: 37px;
    padding: 2% 2% 2% 2%;
    resize:none;
    width:84%;
    border: none;
    color: green;
}

textarea::placeholder{
    color: rgb(7, 173, 7);
}

#mensaje{
    height: 75%;
    margin:20px 20px 20px 6%;
}

#texto{
    height: 65%;
    margin:20px 20px 20px 6%;
}

#alura-img{
    width: 84%;
    margin:7% 7% 7% 6%;
    display:none;
}

button{
    display:inline-block;
    /* position:relative; */    
    font-weight: bold;
    border-radius: 7px;
    border:3px solid;
    border-color: #161F5F;
    background: none;
    margin: 10px;
    width: 155px;
    height: 50px;
    font-size: 20px;
    /* color: green; */
    color: blue;
}

button:hover{
    animation-name:boton-color;
    animation-duration: 1.5s;
    box-shadow: 0 0 10px darkblue, 0 0 40px darkblue, 0 0 80px darkblue;
}

button:active {
    width: 150px;
    height: 45px;
    box-shadow: 3px 2px 22px 1px red;
    /* transition: 0s; */
}

footer{
    text-align: center;
    bottom:0;
    margin-bottom: 10px;
}

.redes{
    display: inline-block;
    border:2px solid blue;
    border-radius: 5px;
}

li{
    display: inline-block;
    text-align: center;   
}

.redes-S{    
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.redes-S:hover{
    /* margin: 5px; */
    background-color: blue;
    box-shadow: 0 0 15px darkblue, 0 0 40px darkblue, 0 0 80px darkblue;    
}
.redes-S:active {
    /* transform: scale(0.98); */
    width: 45px;
    height: 45px;
    box-shadow: 3px 2px 22px 3px red;
    transition: 0s;
}

.zuca7{
    display: block;
    color:rgb(5, 1, 221);
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}
/* #161F5F */

@media screen and (max-width:950px){
    h1{
        font-size: 3rem;
        padding: 50px 100px 0 12%;
    }
    
    .zona-texto{
        width: 90%;
        height: 500px;
        margin:5%;
        /* display: block; */
        /* margin:30px; */
        border-radius: 10px;
        border:2px solid red;
    }
    
    .zona-mensaje{
        position:static;
        width: 90%;
        height: 620px;
        background: linear-gradient(rgba(5, 7, 12, 0.97),rgba(5, 7, 12,0.97)),red;
        border: 2px solid red;
        border-radius:10px;
        margin:5%;
        top: 50px;
        left:5%;
    }

    
    
    /* textarea{
        display: inline-block;
        border-radius: 5px;
        font-size: 37px;
        padding: 2% 2% 2% 2%;
        resize:none;
        margin:7% 7% 7% 6%;
        width:84%;
        height: 200px;
        border: none;
    } */
}

@keyframes boton-color {
    25%{
        background: blue;
        color: black;
    }
    90%{
        background: none;
        color: blue;
    }
}