header{
    font-size: 4rem;
    font-weight: bold;    
    color:rgb(5, 1, 221);
    margin:15px;
}

h1{
    padding: 50px 100px 0 225px;
}

#alura-A{
    float: left;
    width: 175px;
}

body{
    background-color: black;
}

main{
    margin:25px;
}

.zona-texto{
    width: 55%;
    height: 450px;
    display: inline-block;
    margin:30px;
    border-radius: 10px;
    border:2px solid red;
}

.zona-mensaje{
    position:absolute;
    width: 370px;
    height: 620px;
    /* background: linear-gradient(rgba(5, 7, 12, 0.97),rgba(5, 7, 12,0.97)),red; */
    border: 2px solid red;
    border-radius:10px;
    top: 50px;
    left:60%;
    margin:20px 10% 0 0;
}

textarea{
    display: inline-block;
    border-radius: 5px;
    font-size: 3rem;
    padding: 2% 2% 2% 2%;
    resize:none;
    width:84%;
    border: none;
    color: blue;
    background: transparent;
}

textarea::placeholder{
    color: darkblue;
    /* color: rgb(7, 173, 7); */
}

#mensaje{
    height: 60%;
    margin:20px 20px 20px 6%;
}

#texto{
    height: 55%;
    margin:20px 20px 20px 6%;
}

.alerta{
    display: flex;
    align-items: center;
    gap: 10px;
}

.alerta.activate{
    animation:alertAnimation .7s infinite;
}

.alert-svg{
    width: 30px;
    display: inline;
    margin-left: 10%;
    /* transform: translateX(-70%);  */
}
.alert-svg > path{
    fill:gray;
}
.alert-text{
    font-size: 2rem;
    color: #495057;
}
.alerta.activate >.alert-svg >path{
    animation:svgAnimation .7s infinite;
}
/* .img-alert{
    margin-left:50%;
    transform: translateX(-50%);    
}

#img-alert2{
    display: none;
} */

#alura-img{
    width: 84%;
    margin:7% 7% 7% 6%;
}
#img-no-mensaje{
    display: none;
    width: 84%;
    margin:7% 7% 7% 6%;
}

button{
    display:inline-block;
    font-weight: bold;
    border-radius: 7px;
    border:3px solid;
    border-color: #161F5F;
    background: none;
    margin: 10px auto 10px 3%;
    width: 155px;
    height: 50px;
    font-size: 20px;
    color: blue;
}

.button-mensaje{
    display:none;
}

button:hover{
    animation-name:boton-color;
    animation-duration: 1.5s;
    box-shadow: 0 0 10px darkblue, 0 0 40px darkblue, 0 0 80px darkblue;
}

button:active {
    width: 150px;
    height: 45px;
    box-shadow: 3px 2px 22px 1px red;
}

footer{
    text-align: center;
    bottom:0;
    margin-bottom: 10px;
}

.redes{
    display: inline-block;
    border:2px solid blue;
    border-radius: 5px;
}

li{
    display: inline-block;
    text-align: center;   
}

.redes-S{    
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.redes-S:hover{
    background-color: blue;
    box-shadow: 0 0 15px darkblue, 0 0 40px darkblue, 0 0 80px darkblue;    
}
.redes-S:active {
    width: 45px;
    height: 45px;
    box-shadow: 3px 2px 22px 3px red;
    transition: 0s;
}

.zuca7{
    display: block;
    color:rgb(5, 1, 221);
    font-size: 17px;
    text-align: center;
    margin-top: 15px;
}
/* #161F5F */

@media screen and (max-width:950px){
    h1{
        font-size: 3rem;
        padding: 50px 100px 0 12%;
    }
    
    .zona-texto{
        width: 90%;
        height: 30%; /*500px */
        margin:5%;
        text-align: center;
        /* display: block; */
        /* margin:30px; */
        border-radius: 10px;
        border:2px solid red;
    }
    
    .zona-mensaje{
        position:static;
        width: 90%;
        height: 30%; /* 620px */
        background: linear-gradient(rgba(5, 7, 12, 0.97),rgba(5, 7, 12,0.97)),red;
        border: 2px solid red;
        border-radius:10px;
        margin:5%;
        top: 50px;
        left:5%;
    }

    textarea{
        height: 30%;
        margin:20px 20px 20px 6%;
        font-size: 2rem;  
    }

    .img-alert{
        width: 75%;
    }
 
    /* #texto{
        height: 30%;
        margin:20px 20px 20px 6%;
        font-size: 2rem;
    } */
 
    button{
        display: block;
        margin-left:50%;
        transform: translateX(-50%);
    }    
}

@keyframes boton-color {
    25%{
        background: blue;
        color: black;
    }
    90%{
        background: none;
        color: blue;
    }
}

@keyframes svgAnimation {
    from{        
        fill:red;
    }
    to{
        fill:gray;
    }
}

@keyframes alertAnimation {
    from{
        transform: scale(1.1);
    }
    to{
        transform: scale(1);
    }
}